body {
    font-family: Arial, sans-serif;
    margin: 20px;
 }
 
 h1 {
    text-align: center;
 }
 
 h2 {
    margin-top: 30px;
 }
 
 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
 }
 
 table th,
 table td {
    padding: 10px;
    border: 1px solid #ccc;
 }
 
 table th {
    background-color: #f2f2f2;
    text-align: left;
 }
 
 form {
    margin-top: 20px;
    display: flex;
    align-items: center;
 }
 
 form label {
    margin-right: 10px;
 }
 
 form input[type="number"] {
    width: 150px;
    padding: 5px;
 }
 
 form button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
 }
 
 form button:hover {
    background-color: #45a049;
 }
 .align-input {
    margin-top: 15px;
    margin-right: 10px;
 }
 .align-button {
    margin-top: 22px;
    margin-right: 10px;
 }
 @media (max-width: 768px) {
    table {
       font-size: 12px;
    }
 
    form label {
       display: block;
    }
 
    form input[type="number"] {
       width: 100%;
    }
 
    form button {
       width: 100%;
    }
 }
 .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
 }

 .content {
    margin-left: 400px; /* Ajustez la valeur en fonction de la largeur de la barre latérale */
 }

 .mt-3 {
    margin-top: 3rem !important;
 }

 .table {
    width: 100%;
    table-layout: auto;
 }

 .table td,
 .table th {
    font-size: 10px;
 }
 th.asc::after {
    content: '\f0de'; /* Icône d'ascendant de Font Awesome */
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    margin-left: 5px;
  }
  
  th.desc::after {
    content: '\f0dd'; /* Icône de descendant de Font Awesome */
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
  }  